body {
	background-color: #DDD;
}
h1 {
	letter-spacing: 0.1em;
	color: #888;
	line-height: 50px;
	margin: 40px 0px 20px 0px;
}
h2 {
	letter-spacing: 0.1em;
	text-align: center;
	color: #AAA;
	line-height: 50px;
	margin: 30px 0px 10px 0px;
}
h4 {
	letter-spacing: 0.1em;
	text-align: left;
	color: #AAA;
	line-height: 40px;
	margin: 30px 0px 0px 0px;
}
p {
	margin: 0px 0px 15px 0px;
}
iframe {
	border: none;
}
li {
	text-indent: 0em; 
}

canvas {
	display:block; 
	margin:1em auto; 
	background: #fff; 
	border:1px solid #ccc;
}

mono {
	font-family: monospace;
	background: #EEE;
	padding: 2px 4px 2px 4px;
}
ul {
	line-height: 25px;
}
#body {
	display: flex;
}
#padding {
	width: 200px;
	flex: 1 11 auto;
}
#contents {
	font-family: sans-serif;
	background: #FFF;
	text-align: center;
	width: 1200px;
	flex: 0 8 auto;
	margin: 20px 0px 50px 0px;
	padding: 20px 40px 60px 40px;
	line-height: 40px;
}
#text {
	font-family: sans-serif;
	margin: auto;
	text-align: left;
	max-width: 700px;
	line-height: 30px;
	text-indent: 20px;
}
#text-noindent {
	font-family: sans-serif;
	margin: auto;
	text-align: left;
	max-width: 700px;
	line-height: 30px;
	text-indent: 0px;
}
#glossary {
	font-family: sans-serif;
	margin: auto;
	text-align: left;
	max-width: 700px;
	line-height: 30px;
}
#roadmap {
	margin: 40px auto auto auto;
	font-size: 12px;
	color: #666;	
	border-style: double;
	border-color: #CCC;
	text-align: left;
	padding: 0 8% 0 8%;
	max-width: 300px;
}
#roadmap_title {
	font-size: 14px;
	text-align: center;
}

a:link {
	color: #444;
	text-decoration: none;
}
a:visited {
	color: #444;
	text-decoration: none;
}
a:hover {
	color: #AAA;
	text-decoration: none;
}
a:active {
	color: #AAA;
	text-decoration: none;
}